<%- include('header') -%>
<!-- Hero Area Start-->
<div class="slider-area">
  <div
    class="single-slider section-overly slider-height2 d-flex align-items-center"
    data-background="img/hero/about.jpg"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Get your job</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->
<script></script>



<!-- Job List Area Start -->


<div class="container">
  <%- include('filterss') -%>
  <br>

<% if(filterapplied=="0"){ %> 
  <% }else{ %> 
    

    <div class="container alert alert-success alert-dismissible fade show" role="alert">
      <strong>Filter Applied Successfully</strong> jobs are sorted by <%= sortbyy  %>  
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %> 
    


</div>

<div class="job-listing-area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <!-- Right content -->
      <div class="col-xl-10 col-lg-10 col-md-10">
        <!-- Featured_job_start -->
        <section class="featured-job-area">
          <div class="container">
       
            <!-- Count of Job list Start -->
            <div class="row">
              <div class="col-lg-12">
                <div class="count-job mb-35">
                  <span
                    ><h4>
                      <%=count %> Jobs found for '<%=name%>' in '<%= place %>' 
                
                      
                    </h4>
                    <h4>Page: <%= pagenum  %> </h4>
                  </span>
                  <!-- Select job items start -->

                  <div class="select-job-items">
                  
                    

                    <% var jobname=name; %> <% var placename=place; %>

                  </div>

                  <!--  Select job items End-->
                </div>
              </div>

            </div>

            <!-- Count of Job list End -->

            <% jobs.forEach((data,index)=>{ %>

            <div class="single-job-items mb-30">
              <div class="job-items">
                <div class="company-img">
                  <a href="<%= data.redirect_url %>" target="_blank" rel="noopener noreferrer"><img src="img/icon/preview.jpeg" style="float:auto;width:85px;height:85px;" alt="" /></a>
                </div>
                <div class="job-tittle job-tittle2">
                  <a href="<%= data.redirect_url %>" target="_blank" rel="noopener noreferrer">
                    <h4><%= data.company.display_name %></h4>
                  </a>
                  <ul>
                    <li><%= data.title.substring(0,20) %></li>
                    <li>
                      <i class="fas fa-map-marker-alt"></i><%=
                      data.location.display_name %>
                    </li>

                    <% if('salary_min' in data && 'salary_max' in data ) {%>
                    <li>
                      ₹<%= parseInt(data.salary_min)/1000 %>k-₹<%=
                      parseInt(data.salary_max)/1000 %>k
                    </li>

                    <%}else{%>
                    <li>Confidential Sal</li>
                    <%}%>
                  </ul>
                </div>
              </div>
              <div class="items-link items-link2 f-right">
                <a href="<%= data.redirect_url %>" target="_blank" rel="noopener noreferrer">Details </a>
                <span><%= data.created.substring(0,10) %> </span>
              </div>
              <div class="job-items">
                <div class="job-tittle job-tittle2">
                  <ul>
                    <div class="container" id="descriptiondiv"> <li>Description: <%= data.description %></li></div>
                   
                  </ul>
                </div>
              </div>
            </div>

            <% }) %>
          </div>
        </section>
        <!-- Featured_job_end -->
      </div>
      <!-- left content -->
      
      <div class="col-xl-3 col-lg-3 col-md-4">

      </div>


    </div>


  </div>
</div>
<!-- Job List Area End -->
<!--Pagination Start  -->
<div class="pagination-area pb-115 text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="single-wrap d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">

              
              

                <% if(pagenum==1){ %>

                    <% }else{ %>
                        <li class="page-item active">
                            <% var newvalueofpage=parseInt(pagenum)-1; %> 
                          <form action="/search" method="post">
                              <input type="hidden" id="jobname" name="jobtitle" value="<%= name  %>">
                              <input type="hidden" id="jobpalce" name="place" value="<%= place %>">
                              <input type="hidden" id="pagenum" name="pagenum" value="<%=newvalueofpage  %>">
                              <input type="hidden" id="sortbyy" name="sortbyy" value="<%= sortbyy %>">
                              <input type="hidden" id="minsalary" name="minsalary" value="<%= salarymin  %>">
                              <input type="hidden" id="maxsalary" name="maxsalary" value="<%= salarymax  %>">
                              <input type="hidden" id="filterapplied" name="filterapplied" value="0">
                              <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <input class="page-link" type="submit" value="Go back to page <%= newvalueofpage %>">

                                  </div>
                                </div>

                              </div>
                              
                              
                          </form>
                          
                        </li>

                    <% } %>
      

              <% if(pagenum<totalpages){ %>
              <li class="page-item active">
                  <% var newvalueofpage=parseInt(pagenum)+1; %> 
                <form action="/search" method="post">
                    <input type="hidden" id="jobname" name="jobtitle" value="<%= name  %>">
                    <input type="hidden" id="jobpalce" name="place" value="<%= place %>">
                    <input type="hidden" id="pagenum" name="pagenum" value="<%= newvalueofpage  %>">
                    <input type="hidden" id="sortbyy" name="sortbyy" value="<%= sortbyy %>">
                    <input type="hidden" id="minsalary" name="minsalary" value="<%= salarymin  %>">
                    <input type="hidden" id="maxsalary" name="maxsalary" value="<%= salarymax  %>">
                    <input type="hidden" id="filterapplied" name="filterapplied" value="0">
                    
                    <input class="page-link" type="submit" value="Next Page <%= newvalueofpage  %>">
                </form>
                
              </li>
              <% }else{ %>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <H3>No more results</H3>

                    </div>
                  </div>

                </div>

       
              <% } %>



            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Pagination End  -->

<%- include('footer') -%>
